<%= render "application/menu" %>
<div class="w-full">
  <% if @electoral_ward.nil? %>
    <div class="p-4 bg-red-50 text-red-700 flex flex-col gap-y-4 rounded-md">
      <h1 class="text-4xl">Electoral Ward Not Found</h1>
      <p class="text-lg">Uh oh! Looks like we can't find the resource you're looking for</p>
    </div>
  <% else %>
    <div class="p-4 bg-slate-50 w-full flex flex-col gap-y-4">
      <h1 class="text-4xl"><%= @electoral_ward.name %></h1>
      <hr>
      <div class="flex flex-col gap-y-2">
        <h2 class="font-medium text-lg">Electoral Ward</h2>
        <p><%= @electoral_ward.name %></p>
        <h2 class="font-medium text-lg">Councillor Name</h2>
        <p><%= @electoral_ward.councillor %></p>
      </div>
      <hr>
      <a class="underline" href="/service_requests?ew=<%= @electoral_ward['id'] %>">View Related Service Requests</a>
    </div>
  <% end %>

</div>
