<%= render "application/menu" %>
<div class="flex flex-col gap-y-4">
  <form action="" method="get">
    <div class="border-2 border-gray-900/10 bg-gray-50 p-2 rounded">
      <h2 class="text-base font-semibold">Filter Service Requests</h2>
      <div class="flex items-center w-full gap-x-2">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-x-2">
          <div class="w-full">
            <label for="service_request_title" class="sr-only">Filter Service Request</label>
            <input type="text" class="w-full block rounded" id="service_request_title" name="title" placeholder="Filter Service Requests" value="<%= params[:title] %>">
          </div>
          <div class="w-full">
            <label for="service_area_id" class="sr-only">Service Area</label>
            <select name="sa" id="service_area_id" class="w-full block rounded" value="<%= params[:sa] %>">
              <option value="">All Service Areas</option>
              <% @service_areas.each do |service_area| %>
                <option value="<%= service_area.id %>" <%= params[:sa].to_i == service_area.id ? 'selected' : '' %>><%= service_area.name %></option>
              <% end %>
            </select>
          </div>
          <div class="w-full">
            <label for="electoral_ward_id" class="sr-only">Electoral Ward</label>
            <select name="ew" id="electoral_ward_id" class="w-full block rounded" value="<%= params[:ew] %>">
              <option value="">All Electoral Wards</option>
              <% @electoral_wards.each do |ward| %>
                <option value="<%= ward.id %>" <%= params[:ew].to_i == ward.id ? 'selected' : '' %>><%= ward.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div>
          <button class="py-2 px-4 bg-indigo-800 rounded text-white" type="submit">Filter</button>
        </div>
      </div>
    </div>
  </form>
  <h1 class="text-4xl">311 Service Requests <span class="px-2 rounded bg-slate-100"><%= @count %> Result(s)</span></h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% if @service_requests.count > 0 %>
      <% @service_requests.each do |service_request| %>
        <div class="bg-slate-50 p-2 rounded">
          <h2 class="text-2xl underline"><%= link_to service_request['service_request'], service_request %></h2>
          <div class="flex flex-col">
            <span>Neighbourhood: <%= service_request['neighbourhood'] %></span>
            <span>Electoral Ward: <%= service_request['electoral_ward'] %></span>
            <span>Entry Added: <%= service_request['date'].to_fs %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="bg-red-50 p-2 rounded">
        <h2 class="text-2xl text-red-600">Uh oh!</h2>
        <p class="text-lg text-red-500">Looks like we didn't find any service requests for your query</p>
      </div>
    <% end %>
  </div>
  <% if @service_requests.count > 0 %>
    <%== pagy_nav(@pagy) %>
  <% end %>
</div>
