<%= render "application/menu" %>
<div class="w-full">
  <% if @service_request.nil? %>
    <div class="p-4 bg-red-50 text-red-700 flex flex-col gap-y-4 rounded-md">
      <h1 class="text-4xl">Service Record Not Found</h1>
      <p class="text-lg">Uh oh! Looks like we can't find the resource you're looking for</p>
    </div>
  <% else %>
    <div class="p-4 bg-slate-50 w-full flex flex-col gap-y-4">
      <h1 class="text-4xl"><%= @service_request.service_request %></h1>
      <hr>
      <div class="flex flex-col gap-y-2">
        <p><%= @service_request.service_area.name %></p>
        <p><%= @service_request.electoral_ward.name %></p>
        <p><%= @service_request.date %></p>
        <h2 class="text-2xl">Map Of Service Request</h2>
      </div>
    </div>
  <% end %>

</div>
